@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#FFFFFF, #7DD3FC);
    height: auto;
    width: 100vw;
    min-height: 100vh;
}